/*selektor znacznika */
p
{
    
color: orange;
    
}

#paragraf 
{
    color: aqua;
}

.teraz
{
    color: yellow;
}

a,span
{
    color: brown;
}

li > a
{
    color: blueviolet;
}


/* kazdy element w div*/
div a 

{
    color: deeppink;
}

/* pierwsze po h2 zmień na*/
h2 + h3
{
    color: forestgreen;
}


/* wszystkie p na tym samym poziomi co h4*/

h4~p
{
    color: darkseagreen;
}

/*wykluczenie ktoregoś z selektorow*/

ul > li:not(.last)
{
    color: darksalmon;
}
/*wykluczenie kokretnego w (ktory z kolei)mozna wpisac jakas frmułe np 2n+1 lub slów kluczowych np odd nieparzyste z selektorow*/


ul>ol:nth-child(2n+1)
{
    color: chartreuse;
}
