/*selektor znacznika */
p
{
    
color: orange;
    
}

#paragraf 
{
    color: aqua;
}

.teraz
{
    color: yellow;
}

a,span
{
    color: brown;
}

li > a
{
    color: blueviolet;
}


/* kazdy element w div*/
div a 

{
    color: deeppink;
}

/* pierwsze po h2 zmień na*/
h2 + h3
{
    color: forestgreen;
}